/*レスポンシブ用メニュー*/
.reponsive-menu-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  z-index: 2;
  background-color: #f6f6f6;
  padding: 5px 20px 40px 20px !important;
  opacity: 0.9;
}
.reponsive-menu-container img{
  display: block;
  float: right;
}
.reponsive-menu-container h4{
  font-size: 24px;
}
.reponsive-menu-container span{
  float: right;
}
.menu-title{
  font-size: 16px;
  font-weight: bold;
}
.menu-subtitle{
  background-color:#dddddd;
  font-size:16px;
  padding:10px;
  font-weight:bold;
  margin-bottom: 0;
  margin-top: 10px;
}
.menu-subtitle a{
  color: #333;
}
.reponsive-menu-container ul{
  padding: 0;
}
.reponsive-menu-container li{
  border-bottom: 0.7px solid #95989a;
  margin: 0;
  overflow: auto;
  padding: 20px;
}
.menu-content{
  font-size: 16px;
  color: #333;
}
.reponsive-menu-container button{
  display: block;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  background-color: #fff;
  margin: 40px 0;
}

.container-fluid {
  padding: 0;
}

.cart-header {
  border-bottom: 1px solid #aaa;
}

.breadcrumb-original {
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  background: #ebebeb;
  padding: 0 30px;
  color: #999;
  text-decoration: underline;
}

/*-----------------------Header--------------------*/
/*------------------------ firstheader ----------------*/
.header-message,.header-list{
  background-color: #5f5f5f;
}
.header-message p{
  height: 30px;
  padding: 5px 15px;
  font-size: 9px;
  color: #dcdcdc;
  text-decoration: underline;
  display: table-cell;
  vertical-align: middle;
}
.firstheader-right li{
  font-size: 9px;
}
#firstheader-right-ul li{
  list-style: none;
}
#firstheader-right-ul li:before{
  content: '▶';
  font-size: 7px;
  color: #fff;
}
#firstheader-right-ul li > a{
  padding: 5px 15px 5px 0;
  color: #fff;
  display: inline-block;
}

.border {
  border-bottom: solid 1px #aaa;
}

/*--------------------------------------------------*/
/*------------------ secondheader -------------------*/
.secondheader {
  overflow: auto;
}
#secondheader-right-list{
  float: right;
}
.secondheader-right a {
  text-decoration: underline;
  font-size: 9px;
  float: left;
  margin: 10px 5px 2px;
  padding:3px 0 5px;
  color: #333;
}

.shd-btn {
  width: 80px;
  display: block;
  text-align: center;
  color: #fff !important;
  text-decoration: none;
  border: 1px solid #5f5f5f;
  background-color: #5f5f5f;
}
#search form{
  padding: 0;
}
#search input{
  width: 300px;
}
#search button{
  background-color: #fff;
  border: none;
}
/*------------------------------------------------*/
/*------------ thirdheader --------------------*/
.thirdheader{
  overflow: auto;
}
#thirdheader-list ul>li{
  text-align: center;
}
#thirdheader-list ul>li>a{
  color: #333;
  font-weight: bold;
}
#thirdheader-list ul>li>a>p{
  margin: 0;
}
/*------------------------------------------------------*/
/*---------------- top-img-bpx ---------------------*/
/*bxsliderの余白なくすため*/
.top-img-box li{
width: 1500px;
}
.top-img-box img{
width: 100%;
}
/*-----------------------------------------------*/
/*-------------- postion-menu ---------------------*/
.position-menu{
  width: 100%;
  height: 30px;
  padding: 0 40px;
  background-color: #ebebeb;
  display: flex;
  align-items: center;
}
.position-menu p{
  margin-left: 15px;
  margin-bottom: 0;
}
/*-------------------------------------------------------------*/
/*----------------- slidebar -----------------------------------*/
.sidebar-left{
  word-wrap: break-word;
  overflow: auto;
}
#sidebar-search-btn{
  display: block !important;
  background-color: #fff;
  border: none;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 10px;
}
#sidebar-search-box button{
  display: none;
}
#sidebar-search-box img{
  display: none;

}
#sidebar-search-box input{
  border: 0.7px solid #95989a;
}
#sidebar-cate,#sidebar-new-pro{
  display: none;
}
.sidebar-left-box{
  padding: 0 !important;
  overflow: auto;
  border-bottom: 0.7px solid #95989a;
}
.sidebar-left-box img{
  margin-top: 20px;
}
.sidebar-left-box table{
  width: 100%;
  text-align: center;
}
.sidebar-menu{
  margin-top: 20px;
  font-weight: bold;
  font-size: 24px;
}
.sidebar-submenu{
  margin-top: 20px;
}
.sidebar-left input{
  width: 100%;
}
.sidebar-left a{
  font-size: 9px;
  color: #333;
  text-decoration: underline;
  float: right;
  margin: 10px 0;
  font-weight: bold;
}
#feature-content{
  font-size: 9px;
  font-weight: bold;
  margin-bottom: 20px;
}
#sidebar-cate{
  padding-bottom: 5px;
  margin-bottom: 0;
}
.slidebar-cate-box{
  border-top: 0.7px solid #95989a;
}
.slidebar-cate-box a{
  float: left;
  margin: 0;
  text-decoration: none;
}
.slidebar-cate-box ul{
  padding: 0;
  margin: 0;
  width: 100%;
  display: inline-block;
  list-style:none;
}
.sidebar-content{
  font-size: 11px;
  color: #333;
  text-decoration: none;
}
/*-----------------------------------------------------------*/
/*---------------- product-container -----------------------*/
/*-------------------------------------------------------------*/
/*notice-mobile*/
.product-left-sns-mobile,.product-img-slide,.reponsive-menu-container,.cate-mobile,.mobile-footer,.mobile-sns-container,.mobile-sns,.notice-mobile,#campaign-title,#campaign-img,.rank-interest-box,.information-box {
  display: none;
}
/*---------------- product-left-box -------------------*/
.product-left-box{
  padding: 0 !important;
}
#product-main-img{
  width: 100%;
  padding:0 15px 0 0;
  margin-bottom: 20px;
}
.product-left-box img{
  width: 100%;
  padding:0 15px 0 0;
  margin-bottom: 20px;
}
.product-left-sns{
  background-color: #eeeeee;
}
.product-left-sns img{
  width: 80px;
  margin: 10px;
  padding: 0;
}
/*-------------------------------------------------*/
/*----------------- product-right-box ----------------*/
.product-right-box{
  padding-right: 0 !important;
}
.product-right-content-box{
  width: 100%;
  background-color: #ebebeb;
  margin-top: 20px;
  padding: 20px;
  overflow: auto;
}
.product-right-box-title{
  font-weight: bold;
  font-size: 18px;
}
.product-right-content-box-price{
  font-weight: bold;
  font-size: 38px;
}
.product-right-content-box-sub{
  float: left;
  padding: 8px;
  margin: 0 20px 0 0;
  border: 0.7px solid #95989a;
  background-color: #fff;
}
.product-right-content-box table{
  float: right;
}
.product-right-content-box select{
  width: 60px;
  font-size: 24px;
  margin-left: 30px;
}

.produnt-count {
  display: none;
}

.cart-btn{
  width: 100%;
  color: #fff;
  font-size: 24px;
  background-color: #5f5f5f;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  margin: 25px auto;
}
.product-right-content-box a{
    width: 100%;
    color: #333;
    text-align: right;
    display: block;
    margin: 5px auto;
}
.product-review-box{
  margin-top: 30px;
  text-align: center;
}
.product-container-review li{
  display: inline;
  vertical-align: bottom;
}
.product-container-review li > a{
  border-right: 0.5px solid #333;
  color: #333;
  padding: 0 15px;
  font-size: 16px;
}
/*------------------------------------------*/
/*------------------ product-detail-container ------------*/
.product-detail-container{
  margin-top: 30px;
  padding-left: 0 !important;
}
.product-detail-container-title p{
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  background-color: #ebebeb;
}
.product-detail-container p{
    padding-left: 20px;
}
.product-detail-container-left{
  padding: 0 !important;
}
.product-detail-container-right p{
  padding-left: 0;
}
.product-status-box{
  border-bottom: 0.7px solid #95989a;
  overflow: auto;
  padding-bottom: 20px;
  margin-top: 20px;
}
.product-status-box p{
    font-weight: bold;
}
.product-status-box-right{
  padding: 0 !important;
  height: 100%;
}
.product-status-box-right p{
  padding-left: 0;
  font-weight: lighter;
}
div.product-status-box:last-child{
  border-bottom: 0;
}
.product-review-container input{
  width: 95%;
  height: 200px;
  margin: 0 20px 20px;
}
/*--------------------------------------*/
.product-list-container{
  overflow: auto;
  width: 100%;
  padding: 0 !important;
  display: flex;
  flex-wrap: wrap;

}
.product-top{
  height: 40px;
  position: relative;
  margin-bottom: 30px;
}
.product-top-left{
  float: left;
}
.product-top-left ul{
  padding: 0;
}
.product-top-left h2{
  margin-right: 15px;
}
.product-top-left p{
  font-size: 9px;
}
.product-top-right{
  position: absolute;
  bottom: 0;
  right: 55px;
}
.product-top-right li{
}
.product-top li{
  vertical-align: bottom;
  display: table-cell;
}
.product-top li > a{
  border-right: 0.5px solid #333;
  color: #333;
  padding: 0 15px;
  font-size: 12px;
}
.product-top h2{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
}
.product-top p{
  float: left;
  margin-bottom: 0;
}
.product-box {
  padding-left: 0 !important;
  padding-right: 25px !important;
  margin-bottom: 25px;
}
.product-box img{
  width: 100%;
}

.product-review span {
  margin-right: 3px;
}
.product-text{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 11px;
}
.product-price{
  text-align: right;
  width: 100%;
}
.product-review{
  width: 100%;
  font-size: 8px;
}
/*-------------------------------------------------------------------*/
/*-------------------------- middle-box ------------------------------*/
.title-box {
  position: relative;
  margin-bottom: 30px;
  width: 100%;
  border-bottom: 0.7px solid #ccc;
}
.title-box h4 {
  margin-top: 20px;
  width: 100%;
  font-weight: bold;
}
.middle-box{
  margin-bottom: 30px;
}
.middle-box ul{
  padding: 0;
  border-bottom: 0.7px solid #95989a;
}
.middle-box li{
  overflow: auto;
  margin-bottom: 20px;
}
.notice-date{
  padding: 0 !important;
}
.notice-content a{
  text-decoration: none;
  color: #333;
  font-size: 11px;
}
/*---------------------------------------------------------------*/
/*------------------------ cell-status-box -------------------------*/
.cell-status-box{
  border: solid 0.7px #95989a;
}
.status-box{
  padding: 0 0 20px !important;
  border-bottom: solid 0.7px #95989a;
}
div.status-box:last-child{
  border-bottom: 0;
  padding-bottom: 0 !important;
}
.status-box-img{
  padding: 0 !important;
}
.status-box-price{
  color: red;
  margin-bottom: 0;
}
.status-box-price-total{
  color: #333;
  font-size: 9px;
}
.status-box-description{
  background-color: #eeeeee;
  margin-top: 15px;
}
.status-box-description p{
  margin: 0;
  padding: 5px 0;
}
/*---------------------------------------------------------------*/
/*------------------------- pagenav-box -----------------------*/
.pagenav-box {
  text-align: center;
  margin-top: 50px;
}
.pagenav-box span {
  padding: 10px 15px;
  border: 0.7px solid #95989a;
  margin: 0 10px;
}
/*-----------------------------------------------------------------------*/
/*-------------------------- information-box -------------------------*/
.information-list {
  border-bottom: 0.7px solid #ccc;
  height: 80px;
  padding-left: 20px;
  line-height: 80px;
}
.information-list p {
  padding-left: 20px;
  font-size: 16px;
  font-weight: bolder;
}
/*-----------------------------------------------------------------*/
 /*-------------------------bottom-container-----------------------*/
.bottom-container-parent {
  background-color: #e7e7e7;
  margin-top: 50px;
  padding: 50px 50px 30px !important;
  overflow: auto;
  display: table;
}
 .bottom-container{
   display: table-cell;
   height: 400px;
   margin-bottom: 20px;
 }
.bottom-menu-box{
  background: #fff;
  border: 0.7px dotted #95989a;
  padding: 15px;
  height: 100%;
}
.bottom-menu-box ul{
  padding-left: 0;
}
.bottom-menu-box li > p{
  display: inline-block;
  padding-left: 15px;
}
.bottom-menu-box li{
  list-style: none;
}
.bottom-menu-box li:before{
  content: '▶';
  font-size: 7px;
}
.bottom-menu-title{
  font-weight: bold;
  border-bottom: 1px dotted #95989a;
}
.bottom-menu-subtitle{
  padding-left: 10px !important;
}
/*---------------------------------------------------------------------*/
/*----------------------- footer ----------------------------------------*/
.footer{
  background-color: #5f5f5f;
  text-align: center;
  width: 100% !important;
}
.footer ul{
  margin-top: 40px;
}
.footer li{
  display: inline-block;
}
.footer li > a{
  color: #fff;
  padding: 0 20px;
  border-right: solid 1px #fff;
}
.footer p{
  color: #fff;
  margin-bottom: 20px;
}











/*----------------------------------------------------------------*/
                 /*mediaquery*/
/*----------------------------------------------------------------*/
@media (max-width: 719px) {
  .secondheader-left {
    position: relative;
    text-align: center;
  }

  .secondheader a {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 80%;
    float: none;
  }

  .secondheader img {
    height: 35px;
    margin: 0 auto;
  }

  .secondheader-left .navbar-brand {
    padding-top: 7.5px;
  }

  #menu-btn {
    float: none;
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    border: none;
    padding: 0 12px;
    margin: 0;
  }

  #menu-btn .icon-bar {
    background-color: #444;
  }

  #search-btn {
    float: none;
    position: absolute;
    right: 10px;
    font-size: 20px;
    padding: 0 14px;
    margin: 0;
    top: 0;
    bottom: 0;
    border: none;
  }
  /*トップページ*/
  .product-topbox img{
    width: 100% !important;
    float: inherit !important;
  }
  .product-topbox p{
    width: auto !important;
    padding:0 !important;
    float: inherit !important;
  }
  .product-topbox-review{
    display: none;
  }

  /*商品詳細ページ*/
  #sidebar-search-btn,.product-left-sns,#product-main-img,.product-detail-container-title{
    display: none !important;
  }
  .product-img-slide{
    display: block;
    margin: 0 20px;
  }
  .product-img-slide img{
    padding: 0;
  }
  .product-right-box{
    padding-right: 15px !important;
  }
  .product-bellow{
    position: relative;
    height: 500px;
  }
  #product-menu{
    position: absolute;
    bottom: -30px;
  }
  .product-left-sns-mobile{
    display: block;
    margin: 20px 0;
    padding: 30px;
    background-color: #eeeeee;
  }
  #product-wrap{
    position:absolute;
    top:0;
  }
  #product-descripton{
    height: 30%;
    padding-right: 30px;
  }
  #product-feature{
    height: 70%;
  }
  .product-container-review{
    padding: 0;
  }
  .product-container-review a{
    display: block;
    border: none !important;
    text-align: left;
    margin-top: 10px;
    text-decoration: none;
  }
  /*商品一覧ページ*/
  .product-top{
    display: none;
  }

  .produnt-count {
    clear: both;
    text-align: center;
    display: block;
    padding: 16px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-size: 20px;
  }

  .product-box img {
    width: 30%;
    float: left;
  }
  .product-box .product-text {
    margin-top: 0;
  }

  .product-box .product-price {
    text-align: left;
  }
  .product-box span.tax {
    display: block;
  }

  .product-box p {
    width: 70%;
    padding-left: 20px;
    box-sizing: border-box;
    float: right;
  }

  span.price {
    font-size: 20px;
  }
  /*sidebar*/
  .thirdheader,#search,#sidebar-sns-box{
    display: none;
  }
  .sidebar-left{
    position: inherit !important;
  }
  #sidebar-search-box{
    position: absolute;
    top: 0;
    right: 0;
    width: 90%;
    z-index: 2;
    background-color: #f6f6f6;
    padding: 5px 20px 40px 20px !important;
    opacity: 0.9;
  }
  #sidebar-search-box img{
    display: block;
    float: right;
  }
  .sidebar-left-box-campaign,#sidebar-search-box a{
    display: none;
  }
  #sidebar-search-box input{
    margin-top: 1px;
    padding: 10px 0;
  }
  #sidebar-search-box button{
    display: block;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: #fff;
    margin: 40px 0;
  }
  #sidebar-cate,#sidebar-new-pro{
    display: block;
  }
  .new-products{
    padding: 0 !important;
  }
  .recomend-products{
    padding: 0 !important;
  }
  .cate-mobile{
    display: block;
    padding: 0 !important;
  }
  /*-----------------------------------------------------------*/
  .product-container,.notice-mobile,.notice-mobile ul{
    padding: 0 !important;
  }
  .product-list-container{
    padding: 0 20px !important;
  }
  #rank-container{
    padding-right: 0 !important;
  }
  #notice-title{
    background-color:#eeeeee;
    border: solid 0.7px #95989a;
  }
  .title-box{
    padding: 0 30px !important;
    margin-bottom: 0;
  }
  .title-box h4{
    margin: 0;
    line-height: 80px;
    height: 80px;
  }
  .title-box span{
    display: none;
  }
  /*notice-mobile*/
  .notice-mobile,#campaign-title,#campaign-img{
    display: block;
  }
  .notice-mobile li{
    border-bottom: 0.7px solid #95989a;
    margin: 0;
    overflow: auto;
    padding: 10px 0;
  }
  #campaign-img{
    padding: 0 20px;
  }
  .rank-interest-box{
    display: block;
    padding: 15px !important;
    background-color: #c9c9c9;
  }
  .rank-interest-box p:first-child{
    width: 100% !important;
  }
  .rank-interest-box p{
     padding:5px 10px !important;
  }
  .sidebar-submenu{
    background-color:#eeeeee;
    border: solid 0.7px #95989a;
    padding: 30px;
    font-size: 18px;
  }
  .slidebar-cate-box{
    border: none;
  }
  .slidebar-cate-box li{
    border-bottom: 0.7px solid #95989a;
    margin: 0;
    overflow: auto;
    padding: 30px;
    font-size: 18px;
  }
  /*------------------------------------------------------------------*/
  .header-list{
    background-color: inherit;
  }
  #firstheader-right-ul li > a{
    color: #5f5f5f;
  }
  .firstheader-left{
    position: relative;
  }
  .secondheader-left a{
    padding-top: 0;
  }

  /*middle-box*/
  .middle-box{
    display: none;
  }
  .middle-box li{
    border: 0.7px solid #95989a;
    margin: 0;
  }
  #notice-title{
    margin-bottom: 0;
  }
  .notice-date{
    padding-left: 15px !important;
  }
  .cell-status-box{
    display: none;
  }
  /*-----------------------------------------------------------------------*/
  /*--------------------------- mobile-sns ----------------------------------*/
  .mobile-sns {
    display: block;
    background: #fafafa;
    height: 100px;
    padding: 0 60px !important;
    line-height: 100px;
  }
  .mobile-sns img {
    padding: 0 22px;
    box-sizing: border-box;
    display: inline-block;
  }
  .mobile-sns-container{
    display: block;
  }
  /*--------------------------------------------------------------------*/
  /*-------------------------- mobile-footer ------------------------------*/
  .mobile-footer{
    display: block;
    padding: 0 !important;
    /*position: absolute !important;*/
    bottom: 0;
  }
  .mobile-footer-menu{
    text-align: center;
    background-color: #535353;
    padding: 15px 0 !important;
    border-right: 1px dotted #fff;
    text-align: center;
  }
  div.mobile-footer-menu:last-child{
    border-right: none;
  }
  .mobile-footer-icon {
    color: #fff;
    font-size: 26px;
    margin-top: 10px;
  }
  .mobile-footer-p {
    color: #fff;
    font-size: 13px;
    margin-bottom: 5px;
  }

/*--------------------------------------------------------*/
  /*------------------footer------------------*/
  .information-box{
   display: block;
  }
}

@media (max-width: 1000px) {

}
