/*-----------------------Header--------------------*/
/*------------------------ firstheader ----------------*/
.header-message,.header-list{
  background-color: #5f5f5f;
}
.header-message p{
  height: 30px;
  padding: 5px 15px;
  font-size: 9px;
  color: #dcdcdc;
  text-decoration: underline;
  display: table-cell;
  vertical-align: middle;
}
.firstheader-right li{
  font-size: 9px;
}
#firstheader-right-ul li > a{
  padding: 5px 15px;
  color: #fff;
}
/*--------------------------------------------------*/
/*------------------ secondheader -------------------*/
.secondheader{
  padding: 0 40px;
  overflow: auto;
  border-bottom: 0.7px solid #95989a;
}
.secondheader-right a{
  text-decoration: underline;
  font-size: 9px;
  float: left;
  margin: 10px 5px 2px;
  padding:3px 0 5px;
}
.shd-btn{
  width: 80px;
  display: block;
  text-align: center;
  color: #fff;
  text-decoration: none;
  border:1px solid #5f5f5f;
  background-color: #5f5f5f;
}
/*------------------------------------------------*/
/*------------ thirdheader --------------------*/
.thirdheader{
  padding: 0 40px;
  overflow: auto;
}
#thirdheader-list ul>li{
  text-align: center;
}
#thirdheader-list ul>li>a{
  color: #333;
  font-weight: bold;
}
#thirdheader-list ul>li>a>p{
  margin: 0;
}
/*-----------------------------------------------*/
/*-------------- postion-menu ---------------------*/
.position-menu{
  width: 100%;
  height: 30px;
  padding: 0 40px;
  background-color: #ebebeb;
  display: flex;
  align-items: center;
}
.position-menu p{
  margin-left: 15px;
  margin-bottom: 0;
}
/*-------------------------------------------------------------*/
/*----------------- slidebar -----------------------------------*/
.sidebar-left{
  word-wrap: break-word;
  overflow: auto;
}
.sidebar-left-box{
  overflow: auto;
  border-bottom: 0.7px solid #95989a;
}
.sidebar-left-box img{
  margin-top: 20px;
}
.sidebar-menu{
  margin-top: 20px;
  font-weight: bold;
}
.sidebar-submenu{
  margin-top: 20px;
}
.sidebar-left input{
  width: 100%;
}
.sidebar-left a{
  font-size: 9px;
  color: #333;
  text-decoration: underline;
  float: right;
  margin: 10px 0;
  font-weight: bold;
}
#feature-content{
  font-size: 9px;
  font-weight: bold;
  margin-bottom: 20px;
}
#sidebar-cate{
  padding-bottom: 5px;
  margin-bottom: 0;
}
.slidebar-cate-box{
  border-top: 0.7px solid #95989a;
}
.slidebar-cate-box a{
  float: left;
  margin: 0;
  text-decoration: none;
}
.slidebar-cate-box ul{
  padding: 0;
  margin: 0;
  width: 100%;
  display: inline-block;
}
.sidebar-content{
  font-size: 11px;
  color: #333;
  text-decoration: none;
}
/*-----------------------------------------------------------*/
/*---------------- product-container -----------------------*/
.product-container{
}
.product-list-container{
  overflow: auto;
}
.product-top{
  height: 40px;
  position: relative;
  margin-bottom: 30px;
}
.product-top-left{
  float: left;
}
.product-top-left ul{
  padding: 0;
}
.product-top-left h2{
  margin-right: 15px;
}
.product-top-left p{
  font-size: 9px;
}
.product-top-right{
  position: absolute;
  bottom: 0;
  right: 55px;
}
.product-top-right ul{
}
.product-top li{
  vertical-align: bottom;
  display: inline-block;
}
.product-top li > a{
  color: #333;
  margin: 0 5px;
  font-size: 12px;
}
.product-top h2{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
}
.product-top p{
  float: left;
  margin-bottom: 0;
}
.product-list-container{
  width: 100%;
  padding: 0 !important;
}
.product-box{
  padding-left: 0 !important;
  padding-right: 25px !important;
  margin-bottom: 25px;
}
.product-text{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 11px;
}
.product-price{
  text-align: right;
  width: 100%;
}
.product-review{
  width: 100%;
  font-size: 8px;
}
/*---------------------------------------------------------------*/
/*------------------------- pagenav-box -----------------------*/
.pagenav-box{
  text-align: center;
  margin-top: 50px;
}
.pagenav-box span{
  padding: 10px 15px;
  border: 0.7px solid #95989a;
  margin: 0 10px;
}
/*-----------------------------------------------------------------*/
 /*-------------------------bottom-container-----------------------*/
.bottom-container-parent{
  background-color: #e7e7e7;
  margin-top: 50px;
  padding: 50px 50px 30px !important;
  overflow: auto;
  display: table;
}
 .bottom-container{
   display: table-cell;
   height: 400px;
   margin-bottom: 20px;
 }
.bottom-menu-box{
  background: #fff;
  border: 0.7px dotted #95989a;
  padding: 15px;
  height: 100%;
}
.bottom-menu-box ul{
  padding-left: 15px;
}
/*---------------------------------------------------------------------*/
/*----------------------- footer ----------------------------------------*/
.footer{
  background-color: #5f5f5f;
  text-align: center;
}
.footer ul{
  margin-top: 40px;
}
.footer li{
  display: inline-block;
}
.footer li > a{
  color: #fff;
  padding: 0 20px;
}
.footer p{
  color: #fff;
  margin-bottom: 20px;
}
/*----------------------------------------------------------------*/
                 /*mediaquery*/
/*----------------------------------------------------------------*/
@media (max-width: 719px) {
  .header-list{
    background-color: inherit;
  }
  #firstheader-right-ul li > a{
    color: #5f5f5f;
  }
  .secondheader-left a{
    padding-top: 0;
  }
  #brand-logo{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
  }
}
